body{
    padding-top:90px;
    background: #999;
}

h2 {
    text-align: center;
    padding: 10px;
}
p{
    padding: 5px;
}

pre code {
    background-color: #cccccc;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    overflow: auto;
  }

.container {
    background-color: #eee;
    border: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar.fixed-left{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1030;
}

.navbar.fixed-left .navbar-collapse{
    flex-grow:0;
    flex-direction:column;
    width:100%
}
.navbar.fixed-left .navbar-collapse .navbar-nav{
    flex-direction:column;
    width:100%
}
.navbar.fixed-left .navbar-collapse .navbar-nav .nav-item{
    width:100%
}
.navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu{
    top:0
}

.navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after{
    border-top:.3em solid transparent;
    border-left:.3em solid;
    border-bottom:.3em solid transparent;
    border-right:none;
    vertical-align:baseline
}
.navbar.fixed-left .navbar-nav .nav-item .dropdown-menu{
    left:100%
}

.dropdown-item {
    color: slategray;
}

@media (min-width:768px){
    .navbar.fixed-left{
        right:auto;
    }
}
@media (min-width:768px){
    body{
        padding-top:0
    }
}
@media (min-width:768px){
    body{
        margin-left:232px
    }
}
@media (min-width:768px){
    .navbar.fixed-left{
        bottom:0;
        width:232px;
        flex-flow:column nowrap;
        align-items:flex-start
    }
}
